name: CI

on:
  push:
  pull_request:

jobs:
  build-test:
    name: ${{ matrix.name }}
    runs-on: ${{ matrix.runs_on }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: windows-x64
            runs_on: windows-latest

          - name: macos-arm
            runs_on: macos-14

          - name: linux-x64
            runs_on: ubuntu-latest

          - name: linux-arm64
            runs_on: ubuntu-24.04-arm

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up MSVC (Windows)
        if: runner.os == 'Windows'
        uses: TheMrMilchmann/setup-msvc-dev@v3  # sets VS dev cmd env
        with:
          arch: x64
      - name: Select clang (Windows)
        if: runner.os == 'Windows'
        run: |
          echo "CC=clang-cl" >> $env:GITHUB_ENV
          echo "CXX=clang-cl" >> $env:GITHUB_ENV

      - name: Install compilers (Linux)
        if: runner.os == 'Linux'
        run: |
          sudo apt-get update
          sudo apt-get install -y build-essential clang lld

      - name: Install compilers (macOS)
        if: runner.os == 'macOS'
        run: |
          brew update
          brew install gcc

      - name: Bootstrap Test Suite (Windows)
        if: runner.os == 'Windows'
        run: clang -O0 -g -o run_tests.exe tests/run_test_suite.c

      - name: Run Test Suite (Windows)
        if: runner.os == 'Windows'
        run: lldb.exe -b -o "process handle -p true -s false SIGSEGV" -o run -o "bt all" -- .\run_tests.exe
        env:
          ASAN_OPTIONS: detect_leaks=0

      - name: Bootstrap Test Suite (POSIX)
        if: runner.os == 'macOS' || runner.os == 'Linux'
        run: clang -O0 -g -o run_tests tests/run_test_suite.c

      - name: Run Test Suite (POSIX)
        if: runner.os == 'macOS' || runner.os == 'Linux'
        run: ./run_tests
        env:
          ASAN_OPTIONS: detect_leaks=0
